<h1>Available events:</h1>
<div class="event-container">
  <% @events.each do |event| %>
    <div class="event-card">
      <%= render event %>
    </div>
  <% end %>
</div>
<% if user_signed_in? %>
  <h2>Create your event!</h2>
  <%= link_to 'Create', new_event_path %>
<% end %>
